.container {
  // width: 84%;
  padding: 32px;

  h2 {
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  h6 {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 24px;
  }
  
  .error{
    font-size: 12px;
    color: red;
    text-align: center;
  }

  .block-search {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 32px;
    input {
      width: 100%;
      padding: 21px 0px 21px 24px;
      margin-right: 24px;
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      border-radius: 10px;
      border: 3px solid #4f27bf;
      @media screen and (max-width: 992px) {
        margin-bottom: 20px;
        margin-right: 0px;
      }
    }
    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
  }
  .address-list {
    padding: 24px;
    box-shadow: 0px 2px 8px 0px #02006140;
    border-radius: 10px;
    h1 {
      margin-bottom: 16px;
      font-size: 26px;
      font-weight: 700;
      line-height: 32px;
      @media screen and (max-width: 768px) {
        text-align: center;
      }
    }
    p {
      font-size: 20px;
      line-height: 24px;
      font-weight: 500;
      border-top: solid 1px #d7d7d7;
      padding: 16px 0;
      margin: 0;
      
    }
  }
}
